html, body {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100%vh;
    background:#b1d34b;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background:#b1d34b;
}

.menu ul {
    font-size: 10px;
    padding: 0px 0 10px 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    padding:5px;
    margin: 2px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    color: #00995d;
    background: #FFF;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    color: #FFF;
    background: #00995d;
    text-decoration: none;
}

.header {
    background: #00995d;
    min-height: 150px;
}

.header img {
    width: 100px;
    border-radius: 100px;
    float: left;
    margin:20px 20px 23px 25px;
    border: 2px solid #fff;
}

.header span {
    align-items: center;
}

.header h1 {
    float: left;
    margin: 50px 20px;
    color: #fff;
    font-size: 30px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content h1 {
    font-size: 25px;
    color: #00995d;
}

.content p {
    font-size: 12px;
}

.footer {
    background: #00995d;
    color: #FFF;
}

.footer p {
    padding: 10px 20px 0 20px;
    color: #FFF;
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: #b1d34b;
}

.footer h6 {
    font-size: 6px;
    float: right;
    padding: 10px;
    margin: 0;
}

table {
    border: 1px solid #00995d;
}

table thead th {
    background: #00995d;
    color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
}

table tbody tr:nth-child(even) td {
    color:#FFF;
    background-color: #b1d34b;
}

table tbody tr:hover {
    color:#FFF;
    background-color:#00995d;
}

table td {
    padding: 5px;
    border: 1px solid #00995d;
}

h2 {
    color: #00995d;
}

form div {
    padding: 5px;
}

label {
    width: 80px;
    font-size: 12px;
    display: inline-block;
}

form div input {
    width: 200px;
    border: 1px solid #00995d;
}

form div input:hover {
    width: 200px;
    border: 1px solid #b1d34b
}

form div textarea {
    width: 200px;
    resize: none;
    border: 1px solid #00995d;
    float: flex;
}

form div textarea:hover {
    border: 1px solid #b1d34b
}

.textarea label {
    float: left;
    margin: 5px 5px 0 0;
}

.buttons input {
    width: 100px;
    margin: 10px 0 10px 0;
}
